/**********************************************************/
/*          Style sheet for MiataXpress website           */
/*          author: Antonio Cordero Molina                */
/*          version: 2.0                                  */
/*          comments: class project 2023-24               */
/**********************************************************/


/*******************************## COLOURS ##**********************************/

/*
    body: #f5f5f5 / rgb(245,245,245);
    #101010 / rgb(16, 16, 16);
    buttons: #990505 /  rgb(153, 5, 5) // #800928 / rgb(128, 9, 40);
*/

/********************************## FONTS ##***********************************/

@font-face {
    font-family: text;
    src: url(../font/ITCAvantGardeStd-MdObl.otf);
}

@font-face {
    font-family: titles;
    src: url(../font/QueensidesMedium-x30zV.ttf);
}

/*######################### GENERAL STYLE LAYOUT ##############################*/
/*############################# MOBILE FIRST ##################################*/

* {box-sizing: border-box;}

body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: text;
    font-size: 1em;
}   

#wrapper {
    background-color: #f5f5f5;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10%;
}

/*#############################################################################*/
/*################################ NAVBAR #####################################*/

#navbar {
    font-family: titles;
    position: sticky;
    z-index: 99;
    
}

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #101010;
        position: fixed;
        top: 0;
        width: 100%;
    }

    li {
        float: left;
    }
    
    li a {
        display: block;
        color: #f5f5f5;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
      
    li a:hover {
        background-color: #990505;
    }

    .active {
        background-color: #990505;
    }

    .active:hover {
        background-color: #800928;
    }

/*#############################################################################*/
/*############################# HERO SECTION ##################################*/

#hero {
    background-image: url(../img/edits/hero_section_widescreen.png);
    height: 100vh;
    background-size: cover;
    background-position: center;  
}

.knowmore {
    background-color: #990505;
    color: #f5f5f5;
    font-family: titles;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%,-50%);
}

.joinus {
    background-color: #990505;
    color: #f5f5f5;
    font-family: titles;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 75%;
    transform: translate(-50%,-50%) ;
}

.knowmore:hover {
    background-color: #800928;
}

.joinus:hover {
    background-color: #800928;
}

/*#############################################################################*/
/*################################ SECTIONS ###################################*/

.section {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.textsection {
    flex: 1;
    padding: 10%;
}

h2 {
    font-family: titles;
    color: #800928;
    text-align: center;
} 

p {
    font-family: text;
    color: #101010;
    text-align:justify;
    text-indent: 10%;
}

.image {
    flex: 1;
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
}

.finaltextsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}

.finaltextsection h2 {
    font-family: titles;
    color: #800928;
}

.finaltextsection p {
    font-family: text;
    color: #101010;
    text-align: center;
    text-indent: 10%;
    margin-left: 15%;
    margin-right: 15%;
}

/*#############################################################################*/
/*################################# FOOTER ####################################*/

#footer {
    text-align: center;
    background-size: cover;
    background-position: center;
    position: relative;
}

#footer img {
    width: 100%;
    height: auto;
    display: block;
}


/*#############################################################################*/
/*############################### RESPONSIVE ##################################*/
/*###############################   FOR PC   ###################################*/

@media only screen and (width<800px) {
    #hero {
        background-image: url(../img/edits/hero_section_mobile.png);
    }
}

@media only screen and (width<800px) {
    .knowmore {
        top: 90%;
        left: 20%;
    }
    .joinus {
        top: 90%;
        left: 85%;
    }
}
.knowmore:hover {
    background-color: #800928;
}

.joinus:hover {
    background-color: #800928;
}

#wrapper {
    width: 100%;
    margin: auto;
}

@media (max-width: 767px) {
    ul {
        text-align: center;
    }

    li {
        display: none;
    }

    .navbarposition {
        display: flex;
        align-items: center;
        padding: 10px;
        position: sticky;
    }

    .logo {
        background-image: url(../img/logos/miataxpress_lowlogo_white.svg);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-color: #101010;
        width: 100%;
        height: 50px;
    }
}
/*#############################################################################*/
/*########################### RESPONSIVE SECTIONS #############################*/
/*#############################################################################*/

@media (max-width: 767px) {
    .section {
        flex-direction: column;
    }

    .textsection, .image {
        flex: 1;
    }

    .textsection, .image img {
        width: 100%;
    }
}