/**********************************************************/
/*          Style sheet for MiataXpress website           */
/*          author: Antonio Cordero Molina                */
/*          version: 2.0                                  */
/*          comments: class project 2023-24               */
/**********************************************************/


/*******************************## COLOURS ##**********************************/

/*
    body: #f5f5f5 / rgb(245,245,245);
    #101010 / rgb(16, 16, 16);
    buttons: #990505 /  rgb(153, 5, 5) // #800928 / rgb(128, 9, 40);
*/

/********************************## FONTS ##***********************************/

@font-face {
    font-family: text;
    src: url(../font/ITCAvantGardeStd-MdObl.otf);
}

@font-face {
    font-family: titles;
    src: url(../font/QueensidesMedium-x30zV.ttf);
}

/*######################### GENERAL LAYOUT STYLE ##############################*/
/*############################# MOBILE FIRST ##################################*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: text;
    font-size: 1em;
    width: 100;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
  }

#wrapper {
    background-color: #f5f5f5;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10%;
}

html {
    scroll-behavior: smooth;
}

/*#############################################################################*/
/*################################ NAVBAR #####################################*/
/********** nav bar style inspired from @midudev JS Tutorial (Youtube) *********/

/***** NAVBAR TOGGLER *****/

.nav-toggler {
    font-family: titles;
    border: 3px solid #990505;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
}
.nav-toggler span, 
.nav-toggler span:before, 
.nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #990505;
    display: block;
    transition: .3s;
}
.nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
}
.nav-toggler span:after {
    content: '';
    transform: translateY(6px);
}
.nav-toggler.toggler-open span {
    background-color: transparent;
}
.nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
}

/***** NAVBAR TOGGLER ENDS *****/

nav  {
    position: sticky;
    top: 0;
    z-index: 99;
    opacity: 0.95;
    font-family: titles;
    font-weight: bold;
}

/***** DROPDOWN BUTTON STYLE *****/

/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    text-transform: uppercase;
    font-weight: bold;
    font-size: inherit;
    border: none;
    outline: none;
    color: #f5f5f5;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin-top: 0;
  }

  /* Style the dropdown content (hidden by default) */
.dropdown-content {
    font-family: titles;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 129px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #990505;
    color: #f5f5f5;
  }
  
  /* Add a colour background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #800928;
    color: #f5f5f5;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }

/***** DROPDOWN BUTTON STYLE ENDS *****/

.site-name {
    font-family: titles;
    font-style: italic;
}
  
@media screen and (max-width: 850px) {

    .container {
        max-width: 720px;
    }
    
    .nav-toggler{
        display: block;
    }

    .site-navbar {
        min-height: 60px;
        font-family: titles;  
    }

    .site-navbar ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 60px);
        left: 0;
        top: 60px;
        flex-direction: column;
        align-items: center;
        border-top: 2px solid #990505;
        background-color: #101010;
        max-height: 0;
        overflow: hidden;
        transition: .3s;
    }
    .site-navbar ul li {
        width: 100%;
        text-align: center;
    }
    .site-navbar ul li a {
        padding: 25px;
    }
    .site-navbar ul li a:hover {
        background-color: #990505;
    }
    .site-navbar ul.open {
        max-height: 100vh;
        overflow: visible;
    }

}

/***** ARROW FUNCTION STYLE *****/

.fa-arrow-circle-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 1.5em !important;
    z-index: 98;
}

a .fa-arrow-circle-up {
    color: #800928;
}

/*#############################################################################*/
/*############################# HERO SECTION ##################################*/

#hero {
    background-image: url(../img/edits/hero_section_mobile.png);
    height: 85vh;
    background-size: cover;
    background-position: center;  
}

.knowmore {
    background-color: #990505;
    color: #f5f5f5;
    font-family: titles;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 85%;
    left: 25%;
    transform: translate(-50%,-50%);
}

.joinus {
    background-color: #990505;
    color: #f5f5f5;
    font-family: titles;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 85%;
    left: 75%;
    transform: translate(-50%,-50%) ;
}

.knowmore:hover {
    background-color: #800928;
}

.joinus:hover {
    background-color: #800928;
}

/*#############################################################################*/
/*################################ SECTIONS ###################################*/

.section {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.textsection {
    flex: 1;
    padding: 10%;
}

h2 {
    font-family: titles;
    color: #800928;
    text-align: center;
} 

p {
    font-family: text;
    color: #101010;
    text-align:justify;
    text-indent: 10%;
}

.image {
    flex: 1;
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
}

.finaltextsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}

.finaltextsection h2 {
    font-family: titles;
    color: #800928;
}

.finaltextsection p {
    font-family: text;
    color: #101010;
    text-align: center;
    text-indent: 10%;
    margin-left: 15%;
    margin-right: 15%;
}

/*#############################################################################*/
/*################################# FOOTER ####################################*/

.footer {
  background: #101010;
  position: relative;
}

.footer-content {
    border-bottom: 1px solid #101010;
}

.footer-logo {
    margin-bottom: 30px;
    text-align: center;
  }
.footer-logo img {
    display: inline-block;
    width: 300px;
    padding-top: 5%;
    position: relative;
}

/***** GRID FOOTER CONTENT *****/

.grid-3d {
    display: grid;
    grid-template-columns: 50% 50%;
}

.footer-social p {
    font-family: titles;
    color: #f5f5f5;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}
.footer-social p::before {
    content: "";
    position: absolute;
    bottom: -15px;
    height: 2px;
    width: 150px;
    background: #990505;
}

.footer-social a {
    text-decoration: none;
    color: #990505;
}

.footer-social a:hover {
    text-decoration: underline;
}

.footer-widget-heading h3 {
    font-family: titles;
    color: #f5f5f5;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 150px;
  background: #990505;
}

/***** email form from W3School *****/

.footer-widget  {
    padding-right: 20px;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
    padding-right: 10px;
}
.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #101010;
    border: 1px solid #990505;
    color: #990505;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #800928;
    padding: 13px 20px;
    border: 1px solid #800928;
    top: 0;
    padding-right: 10px;
}
.subscribe-form button i {
    color: #f5f5f5;
    font-size: 22px;
    transform: rotate(-6deg);
    padding-right: 10px;
}

/***** email form from W3School ENDS *****/

/***** GRID FOOTER CONTENT ENDS *****/


/***** COPYRIGHT AREA *****/

.copyright-area{
  background: #101010;
  border-top: 2px solid #800928;
  padding: 25px 0;
}
.copyright-text p {
    font-family: text;
    text-align: center;
    font-size: 0.8em;
    color: #f5f5f5
}
.copyright-text a {
    color: #990505;
}

.col-4 {
    font-size: 0.85em;
    padding-top: 10px;
}

.col-4 .mentions {
    padding-top: 5px;
}

.col-4, .col-5 {
  text-align: center;
}

.footer-menu {
  width: 100%;
}

.footer-menu ul {
  padding: 0;
  list-style: none;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #990505;
  text-decoration: underline;
}

.footer-menu li a {
  font-size: 14px;
  color: #f5f5f5;
  text-decoration: none;
}
/***** COPYRIGHT AREA ENDS *****/

/*#############################################################################*/
/*############################### RESPONSIVE ##################################*/
/*###############################   FOR PC   ##################################*/

/*####################### RESPONISVE PC HERO SECTION #########################*/

@media screen and (width>850px) {

    #hero {
        background-image: url(../img/edits/hero_section_widescreen.png);
        height: 100vh;
        background-size: cover;
        background-position: center;  
    }

    .knowmore {
        background-color: #990505;
        color: #f5f5f5;
        font-family: titles;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 5px 10px;
        border: none;
        border-radius: 10px;
        position: absolute;
        top: 31%;
        left: 25%;
        transform: translate(-50%,-50%);
    }

    .joinus {
        background-color: #990505;
        color: #f5f5f5;
        font-family: titles;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 5px 10px;
        border: none;
        border-radius: 10px;
        position: absolute;
        top: 31%;
        left: 75%;
        transform: translate(-50%,-50%) ;
    }

    .knowmore:hover {
        background-color: #800928;
    }

    .joinus:hover {
        background-color: #800928;
    }
}

/*########################### RESPONSIVE PC NAVBAR ###########################*/

@media screen and (width>850px) {
    .dropdown .dropbtn {
        text-transform: uppercase;
        font-weight: bold;
        font-size: inherit;
        border: none;
        outline: none;
        color: #f5f5f5;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin-top: 5px;
    }
}

nav  {
    position: sticky;
    top: 0;
    z-index: 99;
    opacity: 1;
}

.navbar {
    background: #101010;
    border-bottom: 2px solid #990505;
    position: sticky;
    top: 0;
    z-index: 100;
}
.site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a.site-name {
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.site-navbar ul li a {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}
.site-navbar ul li a:hover {
    background: #990505;
}

/*######################### RESPONSIVE PC SECTIONS ############################*/

@media (max-width: 767px) {
    .section {
        flex-direction: column;
    }

    .textsection, .image {
        flex: 1;
    }

    .textsection, .image img {
        width: 100%;
    }
}

/*####################### RESPONISVE PC FOOTER #########################*/

@media screen and (width>850px) {

    .footer {
        background-image: url(../img/edits/miataxpress_footer.png);
        background-size: cover;
        background-position: center;
        height: 80vh; 
    }
    .footer-logo img {
        visibility: hidden;
    }
    
    /***** GRID FOOTER CONTENT *****/
    
    .grid-3d {
        display: grid;
        grid-template-columns: 50% 50%;
        z-index: 99;
    }
    
    .footer-social-pcresponsive {
        position: absolute;
        top: 68%;
        left: 15%;
        transform: translate(-50%,-50%);
    }
    .footer-social p {
        font-family: titles;
        color: #f5f5f5;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 40px;
        text-align: left;
    }
    .footer-social p::before {
        content: "";
        position: absolute;
        bottom: -15px;
        height: 2px;
        width: 150px;
        background: #990505;
    }
    .footer-social a {
        text-decoration: none;
        color: #990505;
    }
    .footer-social a:hover {
        text-decoration: underline;
    }
    
    .footer-widget-pcresponsive{
        position: absolute;
        top: 68%;
        right: 5%;
        transform: translate(-50%,-50%) ;
    }

    .footer-widget-heading h3 {
        font-family: titles;
        color: #f5f5f5;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 40px;
        position: relative;
    }
    .footer-widget-heading h3::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -15px;
      height: 2px;
      width: 150px;
      background: #990505;
    }
    
    /***** email form from W3School *****/
    
    .footer-widget  {
        padding-right: 20px;
    }
    
    .subscribe-form {
        position: relative;
        overflow: hidden;
        padding-right: 10px;
    }
    .subscribe-form input {
        width: 100%;
        padding: 14px 28px;
        background: #101010;
       border: 1px solid #990505;
        color: #990505;
    }
    .subscribe-form button {
        position: absolute;
        right: 0;
        background: #800928;
        padding: 13px 20px;
        border: 1px solid #800928;
        top: 0;
        padding-right: 10px;
    }
    .subscribe-form button i {
        color: #f5f5f5;
        font-size: 22px;
        transform: rotate(-6deg);
        padding-right: 10px;
    }
    
    /***** email form from W3School ENDS *****/
    
    /***** GRID FOOTER CONTENT ENDS *****/
    
    
    /***** COPYRIGHT AREA *****/
    
    .copyright-area{
        padding: 25px 0;
        align-items: flex-end;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        height: 10vh;
    }
    .copyright-text p {
        font-family: text;
        text-align: center;
        font-size: 0.8em;
        color: #f5f5f5
    }
    .copyright-text a {
        color: #990505;
    }
    
    .col-4 {
        font-size: 0.85em;
    }
    
    .col-4 .mentions {
        padding-top: 5px;
    }
    
    .col-4, .col-5 {
        text-align: center;
    }
    
    .footer-menu {
      width: 100%;
    }
    
    .footer-menu ul {
      padding: 0;
      list-style: none;
    }
    
    .footer-menu li {
      display: inline-block;
      margin-left: 20px;
    }
    
    .footer-menu li:hover a {
      color: #990505;
      text-decoration: underline;
    }
    
    .footer-menu li a {
      font-size: 14px;
      color: #f5f5f5;
      text-decoration: none;
    }
    /***** COPYRIGHT AREA ENDS *****/

}